@import "components/fonts";
@import "components/variables";
@import "components/feed";
@import "components/book-appointment";
@import "components/buttons";
@import "components/popup-chat";


body {
    overflow-x: hidden;
    width: 100%;
}

.bg-gray {
    background-color: #e0e0e0;
}
