@font-face {
  font-family: "optibakerdanmarkoneregular";
  src: url("/assets/fonts/optibakerdanmarkone-webfont.woff2") format("woff2"), url("/assets/fonts/optibakerdanmarkone-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "optitomaso-extendedregular";
  src: url("/assets/fonts/optitomaso-extended-webfont.woff2") format("woff2"), url("/assets/fonts/optitomaso-extended-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #eeeeee;
}

nav .logo {
  width: 100px;
}

.btn-primary {
  color: #eceae3;
  background-color: #6b969d;
  border-color: #6b969d;
}

.btn-primary:hover {
  color: #6b969d;
  background-color: #eceae3;
  border-color: #6b969d;
}

.btn-outline-primary {
  color: #296e6b;
  background-color: transparent;
  background-image: none;
  border-color: #296e6b;
}

.btn-outline-primary:hover,
.btn-ouline-primary:active {
  color: #eceae3;
  background-color: #296e6b;
  border-color: #296e6b;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #eceae3;
  background-color: #296e6b;
  border-color: #296e6b;
  box-shadow: 0 0 0 0.2rem #aed3d8;
}

.form-control:focus {
  border-color: #296e6b;
  box-shadow: 0 0 0 0.2rem #aed3d8;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #aed3d8;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #2a2f3c;
}

a {
  color: #296e6b;
}

a:hover {
  color: #6b969d;
}

.h5 {
  color: #296e6b;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 768px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .gedf-card {
    margin-bottom: 2.77rem;
  }
}
/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content .title .text {
  margin: 20px;
  font-family: "optitomaso-extendedregular";
  font-size: 21px;
  letter-spacing: 2px;
}
.modal-content .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 30px 25px;
}
.modal-content .form fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.3s ease-out;
}
.modal-content .form fieldset .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-content .form fieldset .row .column {
  width: 100% !important;
  margin: 0 2px;
}
.modal-content .form legend {
  visibility: hidden;
}
.modal-content .input-block {
  margin-bottom: 10px;
}
.modal-content .input-block label {
  font-size: 12px;
  color: #2a2f3c;
  font-family: "optitomaso-extendedregular";
  letter-spacing: 2px;
  font-weight: 600;
}
.modal-content .input-block input,
.modal-content .input-block select,
.modal-content .input-block textarea {
  display: block;
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  line-height: 30px;
  color: #2a2f3c;
  background: #fff;
  border: 2px solid #2a2f3c;
  border-radius: 2px;
}
.modal-content .input-block select {
  padding: 7px 15px;
}
.modal-content .input-block select option {
  font-size: 14px;
  line-height: 30px;
  margin-top: 8px;
}

@media (max-width: 640px) {
  .modal-content .title .text {
    margin: 0 0 20px 0;
    font-family: "optitomaso-extendedregular";
    font-size: 21px;
    letter-spacing: 2px;
  }
  .modal-content .form fieldset .row {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .modal-content .form fieldset .row .column {
    margin: 0;
  }
}
.buttons {
  display: flex;
}

.action.primary {
  display: grid;
  place-items: center;
  margin: 0 10px;
  padding: 10px;
  background-color: #6b969d;
  border: 1px solid #6b969d;
  color: #eceae3;
  letter-spacing: 2px;
  cursor: pointer;
}

.action.primary:hover {
  transform: scale(1.1);
}

.action.secondary {
  display: grid;
  place-items: center;
  border: 1px solid #2a2f3c;
  padding: 10px;
  color: #2a2f3c;
  cursor: pointer;
  letter-spacing: 2px;
}

.action.secondary:hover {
  background-color: #2a2f3c;
  border: 1px solid #eceae3;
  color: #eceae3;
}

@media (min-width: 320px) {
  .action {
    padding: 5px;
    font-size: 8.4px;
    font-family: sans-serif;
    font-weight: 500;
  }
}
@media (min-width: 640px) {
  .action {
    padding: 5px;
    font-size: 11.2px;
  }
}
@media (min-width: 768px) {
  .action {
    padding: 5px;
    font-size: 12px;
  }
}
.popup-box {
  background-color: #ffffff;
  border: 1px solid #bac0c3;
  bottom: 0;
  display: none;
  height: 415px;
  position: fixed;
  right: 70px;
  width: 300px;
  font-family: sans-serif;
}

.round.hollow {
  margin: 40px 0 0;
}

.round.hollow a {
  border: 2px solid #296e6b;
  border-radius: 35px;
  color: #296e6b;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
  font-family: sans-serif;
}

.round.hollow a:hover {
  border: 2px solid #000;
  border-radius: 35px;
  color: #000;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
}

.popup-box-on {
  display: block !important;
}

.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #2a2f3c;
  display: inline-table;
  font-size: 14px;
  padding: 7px 10px;
  width: 100%;
  font-family: "optitomaso-extendedregular";
}

.bg_none i {
  border: 1px solid #296e6b;
  border-radius: 25px;
  color: #296e6b;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}

.bg_none:hover i {
  border: 1px solid #2a2f3c;
  border-radius: 25px;
  color: #2a2f3c;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}

.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.popup-box .popup-head .popup-head-right {
  margin: 11px 7px 0;
}

.popup-head-left img {
  border: 1px solid #bac0c3;
  border-radius: 50%;
  width: 44px;
}

.popup-messages-footer > textarea {
  border-bottom: 1px solid #bac0c3 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}

.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}

.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #2a2f3c !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}

.popup-box .popup-messages {
  background: #ffffff none repeat scroll 0 0;
  height: 275px;
  overflow: auto;
}

.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);
}

.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #6b969d;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}

.popup-messages abbr.timestamp {
  background: #296e6b none repeat scroll 0 0;
  color: #2a2f3c;
  padding: 0 11px;
}

.popup-head-right .btn-group {
  display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}

.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #296e6b;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
}

.popup-head-right .btn-group .dropdown-menu {
  border: medium none;
  min-width: 122px;
  padding: 0;
}

.popup-head-right .btn-group .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
  color: #303030;
}

.popup-messages abbr.timestamp {
  background: #ffffff none repeat scroll 0 0;
  color: #2a2f3c;
  padding: 0 11px;
}

.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #296e6b;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}

.popup-messages .direct-chat-messages {
  height: auto;
}

.popup-messages .direct-chat-text {
  background: #296e6b none repeat scroll 0 0;
  border: 1px solid #296e6b;
  border-radius: 2px;
  color: #2a2f3c;
}

.popup-messages .direct-chat-timestamp {
  color: #fff;
  opacity: 0.6;
}

.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 49px !important;
  color: #296e6b;
  opacity: 0.9;
}

.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

.popup-messages .big-round {
  margin: -9px 0 0 !important;
}

.popup-messages .direct-chat-img {
  border: 1px solid #fff;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -21px 0 0;
  width: 40px;
}

.direct-chat-reply-name {
  color: #6b969d;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}

.direct-chat-img-reply-small {
  border: 1px solid #6b969d;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
  background: #6b969d;
}

.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}

.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
  border-right: 2px dotted #6b969d !important;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

.popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

.direct-chat-text::after,
.direct-chat-text::before {
  border-color: transparent #6b969d transparent transparent;
}

.direct-chat-text::after,
.direct-chat-text::before {
  border-color: transparent #6b969d transparent transparent;
  -o-border-image: none;
     border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}

.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}

.popup-messages .direct-chat-text {
  background: #6b969d none repeat scroll 0 0;
  border: 1px solid #6b969d;
  border-radius: 2px;
  color: #eceae3;
}

.direct-chat-text {
  background: #6b969d none repeat scroll 0 0;
  border: 1px solid #6b969d;
  border-radius: 5px;
  color: #eceae3;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}

body {
  overflow-x: hidden;
  width: 100%;
}
