@font-face {
	font-family: "optibakerdanmarkoneregular";
	src: url("/assets/fonts/optibakerdanmarkone-webfont.woff2") format("woff2"),
		url("/assets/fonts/optibakerdanmarkone-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "optitomaso-extendedregular";
	src: url("/assets/fonts/optitomaso-extended-webfont.woff2") format("woff2"),
		url("/assets/fonts/optitomaso-extended-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
